# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.egg-info/
.dist-info/
*.egg

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Generated data
all_data.csv